<% content_for :title, "#{@profile.username}'s User Profile" %>

<!-- 
  <i class="fas fa-user-plus" role="img" aria-label="Icon"></i>
  <i class="fas fa-user-minus" role="img" aria-label="Icon"></i>
  <i class="fas fa-envelope" role="img" aria-label="Icon"></i>
-->

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-12">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="<%= @profile.display_avatar %>" alt="Profile Photo" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; height: 150px; z-index: 1; object-fit: cover;">
                <%= link_to 'Edit profile', edit_profile_path(@profile.username), class: 'btn btn-outline-dark profile-edit' %>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5><%= @profile.display_name %></h5>
              <p><%= @profile.display_location_with_icon %></p>
            </div>
          </div>
          <div class="p-2 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5"><%= @profile.characters_count %></p>
                <p class="small text-muted mb-0"><%= @profile.pluralize_characters %></p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">32</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5">34</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <!-- About -->
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p><%= @profile.display_about_me %></p>
                <%= @profile.display_twitter_paragraph %>
                <%= @profile.display_instagram_paragraph %>
                <%= @profile.display_discord_paragraph %>  
              </div>
            </div>

            <!-- Characters -->
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0"><%= @profile.pluralize_characters %></p>
              <p class="mb-0"><%= link_to "Show all", user_characters_path(@profile.username), class: 'text-muted' %></p>
            </div>

            <!-- Character Card Carousel -->


            <!-- Comments -->
            <div class="mb-5">
              <p class="lead fw-normal my-1 py-2 border-top">Comments</p>
              <div class="p-4" style="background-color: #f8f9fa">
                <% if @profile.comments.present? %>
                  <%= render @profile.comments %>
                <% else %>
                  <p><em>No comments yet.</em></p>
                <% end %>
                
                <%= render 'comments/form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>