<% content_for :title, "#{@user.username}'s Characters" %>

<div class="container">
  <h1><%= @user.profile.display_name %>'s characters</h1>
  <%= link_to 'Back to User Profile', profile_path(@user.username) %> | 
  <%= link_to 'Create New Character', new_character_path %>

  <div class="row row-cols-lg-2 g-4 mt-2">
    <%= render partial: "characters/character_cards", locals: {characters: @user_characters} %>
  </div>

  <%= render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
</div>