<%= simple_form_for(@physical_attribute, defaults: { label_html: { class: 'float-sm-start' }, input_html: { class: 'mb-3' }}, url: "/characters/#{@character.id}/physical_attributes/", method: 'put' ) do |f| %>
  <%= f.error_notification %>
  
  <div class="d-flex">
    <%= f.input :age, wrapper_html: { class: 'flex-grow-1' } %>
    <div class="align-self-end">
      <button id="age-help-btn" class="btn btn-outline-secondary mx-2 mb-3" type='button' title="Get help based on Character's race"><i class="far fa-question-circle"></i></button>
      <%= image_tag('ajax-loader.gif', class: 'ajax-loading') %>
    </div>
  </div>

  <div id="age-help" class="mb-2"><span id="age-help-race"><%= @character.race %></span> Age: <span id="age-help-text"></span></div>

  <div class="d-flex">
    <%= f.input :height, wrapper_html: { class: 'flex-grow-1' } %>
    <div class="align-self-end">
      <button id="size-help-btn" class="btn btn-outline-secondary mx-2 mb-3" type='button' title="Get help based on Character's race"><i class="far fa-question-circle"></i></button>
      <%= image_tag('ajax-loader.gif', class: 'ajax-loading') %>
    </div>
  </div>

  <div id="size-help" class="mb-2"><span id="size-help-race"><%= @character.race %></span> Size description: <span id="size-help-text"></span></div>

  <%= f.input :weight %>
  <%= f.input :eyes %>
  <%= f.input :skin %>
  <%= f.input :hair %>  

  <%= f.button :submit, class: 'btn btn-primary my-3' %>
<% end %>

<%= link_to 'Back', :back, class: 'me-3' %>

<% if @physical_attribute.persisted? %>
  <%= link_to 'Delete all Physical Attributes',  character_physical_attributes_path(@character),
      method: :delete, data: {confirm: "Are you sure you want to delete this Character's Physical Attributes?"},
      class: 'button-delete' %>
<% end %>


<script>
  $(document).ready(function() {
    $("#age-help").hide()
    $("#size-help").hide()
    $(".ajax-loading").hide()
    $("#age-help-btn").on("click", fetch_age_height)
    $("#size-help-btn").on("click", fetch_age_height);
  });

  function fetch_age_height() {
    var race = $("#age-help-race").html().toLowerCase();
    var races = ["dragonborn", "dwarf", "elf", "gnome", "half-elf", "half-orc", "halfling", "human", "tiefling"]

    if (races.includes(race)) {
      $.ajax({
        type: "GET",
        url: ("https://www.dnd5eapi.co/api/races/" + race),
        dataType: "json",
        beforeSend: function() {
          $('.ajax-loading').show();
        },
        complete: function() {
          $('.ajax-loading').hide();
        },
        success: function (result, status, xhr) {
          $("#age-help-text").html(result.age)
          $("#size-help-text").html(result.size_description)
          $("#age-help-btn").prop("disabled", true) 
          $("#size-help-btn").prop("disabled", true)
        },
        error: function (xhr, status, error) {
          alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        }
      })
    } else {
      let message = 'No information available in the D&D 5e Systems Reference Document (SRD).'
      $("#age-help-text").html(message)
      $("#age-help-text").addClass('italic')
      $("#size-help-text").html(message)
      $("#size-help-text").addClass('italic')
      $("#age-help-btn").prop("disabled", true)
      $("#size-help-btn").prop("disabled", true);
    }

    $("#age-help").show()
    $("#size-help").show();
  }
</script>