<%= simple_form_for @contact, url: home_path do |f| %>
    <div class="row py-2">
        <div class="col-md-6 py-2">
            <div class="md-form mb-0">
              <%= f.input :name, class: 'form-control', placeholder: 'Enter your name' %>
            </div>
        </div>
        
        <div class="col-md-6 py-2">
            <div class="md-form mb-0">
              <%= f.input :email, class: 'form-control', placeholder: 'Enter your email' %>
            </div>
        </div>
    </div>

    <div class="row py-2">
        <div class="col-md-12">
            <div class="md-form mb-0">
              <%= f.input :subject, class: 'form-control', placeholder: 'Enter your subject' %>
            </div>
        </div>
    </div>

    <div class="row py-2">
        <div class="col-md-12">
            <div class="md-form">
              <%= f.input :message, as: :text, input_html: { 'rows' => 5 }, class: 'form-control', placeholder: 'Enter your message' %>
            </div>
        </div>
    </div>

    <div class="row py-2">
        <div class="col-md-12">
            <div class="md-form mb-0">
              <%= f.input :security_question, label: 'This is the Land of the ___ ?', class: 'form-control', placeholder: 'Enter your answer' %>
            </div>
        </div>
    </div>

    <div class="row py-2 d-none">
        <div class="col-md-12">
            <div class="md-form mb-0">
              <%= f.input :nickname, class: 'form-control', hint: 'Leave this form blank!' %>
            </div>
        </div>
    </div>

    <div class="text-center text-md-left py-4">
      <%= f.button :submit, 'Submit message', class: 'btn btn-primary rounded-pill' %>
    </div>
<% end %>