<div class="nested-fields mb-3">
  <%= f.label :character_class, class: 'label-character-class' %>
  <%= f.select(:character_class,
                options_for_select(["Select Character Class", "Barbarian", "Bard", "Cleric", "Druid", "Fighter", "Monk", 
                                      "Paladin", "Ranger", "Rogue", "Sorcerer", "Warlock", "Wizard"],
                                    {selected: f.object.character_class || nil, disabled: "Select Character Class"}),
                {},
                {class: 'form-control'}) %>

  <%= f.input :character_subclass %>
  <%= f.input :character_level, input_html: {step: 1, min: 1, max: 30} %>

  <%= link_to_remove_association "Delete", f, class: 'badge btn btn-danger' %>
</div>