<%= form_for(setup_character(character)) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% character.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section>
    <h1>Basic Character Info</h1>
    <div>
      <%= form.label :character_name %>*
      <%= form.text_field :character_name %>
    </div>

    <div>
      <%= form.label :character_portrait_URL %>
      <%= form.text_field :character_portrait_URL, placeholder: 'http://example.com/image.jpg' %>
    </div>

    <div>
      <%= form.label :portrait_credit_artist %>
      <%= form.text_field :portrait_credit_artist %>
    </div>

    <div>
      <%= form.label :portrait_credit_URL %>
      <%= form.text_field :portrait_credit_URL, placeholder: 'http://example.com/image.jpg' %>
    </div>

    <div>
      <%= form.label :background %>*
      <%= form.text_field :background %>
    </div>

    <div>
      <%= form.label :alignment %>*
      <%= form.select :alignment, 
        [["Lawful Good", 'lawful_good'], ["Neutral Good", 'neutral_good'], ["Chaotic Good", 'chaotic_good'], 
        ["Lawful Neutral", 'lawful_neutral'], ["True Neutral", 'true_neutral'], ["Chaotic Neutral", 'chaotic_neutral'], 
        ["Lawful Evil", 'lawful_evil'], ["Neutral Evil", 'neutral_evil'], ["Chaotic Evil", 'chaotic_evil']] %>
    </div>

    <div>
      <%= form.label :race %>*
      <%= form.text_field :race %>
    </div>

    <div>
      <%= form.label :sex %>*
      <%= form.text_field :sex %>
    </div>

    <div>
      <%= form.label :gender %>
      <%= form.text_field :gender %>
    </div>

    <div>
      <%= form.label :sexual_orientation %>
      <%= form.text_field :sexual_orientation %>
    </div>

    <div>
      <%= form.label :private_character %>*
      <%= form.select :private_character, [["yes", true], ["no", false]] %>
    </div>
  </section>

  <section>
    <h1>Search</h1>
    <%= form.fields_for :search do |ff| %>
      <div>
        <%= ff.label :searching_for_connections %>
        <%= ff.select :searching_for_connections, [["yes", true], ["no", false]] %>
      </div>

      <div>
        <%= ff.label :search_message %>
        <%= ff.text_area :search_message %>
      </div>
    <% end %>
  </section>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
