<footer class="footer mt-auto">
  <div id="footer-socials" class="d-flex flex-wrap align-items-center justify-content-center pt-4">
    <a href="#">
      <i class="fab fa-patreon fa-2x me-5" role="img" aria-label="Patreon Icon"></i>
    </a>
    <a href="http://www.github.com/theIanMilan">
      <i class="fab fa-github fa-2x me-5" role="img" aria-label="Github Icon"></i>
    </a>
    <a href="#">
      <i class="fab fa-discord fa-2x" role="img" aria-label="Discord Icon"></i>
    </a>
  </div>

  <div id="footer-fancontent-policy" class="text-center p-4">Character Archiver is unofficial Fan Content 
  permitted under the Fan Content Policy. This website is not approved or endorsed by Wizards. 
  Portions of the materials used are property of Wizards of the Coast. © Wizards of the Coast LLC.</div>

  <div id="footer-bottom" class="d-flex flex-wrap align-items-center justify-content-around">
    <!-- Left element -->
    <div id="footer-copyright">2021 © Copyright theIanMilan</div>

    <!-- Right element -->
    <ul class="nav mb-2 mb-md-0">
      <li><%= link_to 'Home', root_path, {class: 'nav-link px-2 link-light', title: "Home page"} %></li>
      <li><%= link_to 'Terms', root_path, {class: 'nav-link px-2 link-light', title: "Terms"} %></li>
      <li><%= link_to 'Privacy Policy', root_path, {class: 'nav-link px-2 link-light', title: "Privacy Policy"} %></li>
      <li><%= link_to 'Licenses', root_path, {class: 'nav-link px-2 link-light', title: "Licenses"} %></li>
      <li><%= link_to 'Contact us', about_path, {class: 'nav-link px-2 link-light', title: "Contact us"} %></li>
    </ul>
  </div>
</footer>