<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100 padding-nav-bar">
    <%# Flash %>
    <% unless flash.empty? %>
    <div id='flash'>
      <script type="text/javascript">
          <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
            toastr['<%= type %>']('<%= f[1] %>', '', { closeButton: true, progressBar: true, newestOnTop: false, positionClass: 'toast-bottom-right' });    
          <% end %>
      </script>
    </div>
    <% end %>

    <!-- Fixed header -->
    <%= render 'layouts/header' %>

    <!-- Content -->
    <div class="my-4 flex-shrink-0">
      <%= yield %>
    </div>

    <!-- Scroll top -->
    <i class="fas fa-chevron-up fa-2x scroll-top" title="Back to top"></i>
    <script>
      $(document).ready(function () {
      $('.scroll-top').on("click", scrollToTop)
      $(window).on("scroll", toggleScrollTop)
      });

      function scrollToTop() {
        $('html, body').stop().animate({ scrollTop: 0 }, 500);
        return false;
      }

      function toggleScrollTop() {
        // when user scrolls down 20px from document, show button
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
          $('.scroll-top').addClass('scroll-top-show');
        } else {
          $('.scroll-top').removeClass('scroll-top-show');
        }
      }
    </script>

    <!-- Fixed footer -->
    <%= render 'layouts/footer' %>
    </body>
</html>
